* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

textarea {
  resize: vertical;
}

#main-section {
  border: 1px solid blue;
}

section {
  padding: 20px;
}

.ul-style {
  border: 1px solid blue;
  padding: 20px;
  padding-left: 40px;
}

h1, h2, h3 {
  border: 1px solid red;
  text-align: center;
}

.ul-style li {
  text-decoration: none;
  cursor: none;
}

a {
  text-decoration: none;
  cursor: none;
}

a:hover {
  color: white;
  background-color: red;
}

#span-display {
  display: block;
}

#div-display {
  border: 1px solid red;
  height: 200px;
  width: 100px;
  display: inline;
}

#finish-button {
  transform: scale(200%) rotate(90deg);
}

